<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DirectoryCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <DirectoryCleaner.Properties.Settings>
            <setting name="EtcExtensionList" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioExtensionList" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoExtensionList" serializeAs="String">
                <value />
            </setting>
            <setting name="DocExtensionList" serializeAs="String">
                <value />
            </setting>
            <setting name="CompactExtensionLIst" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageExtensionList" serializeAs="String">
                <value />
            </setting>
            <setting name="isEtc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isDoc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isCompac" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isImg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TxtExtensionList" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscExtensionList" serializeAs="String">
                <value />
            </setting>
            <setting name="isTxt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isDisc" serializeAs="String">
                <value>True</value>
            </setting>
        </DirectoryCleaner.Properties.Settings>
    </userSettings>
</configuration>
